body,
html {
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: whitesmoke;
}

/* HEADER MOBILE */

@media only screen and (max-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #008b8b;
        padding-top: 15px;
        min-width: 100%;
        margin-bottom: 20px;
      }

      #nav {
        background-color: #008b8b;
      }
      
      nav {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        list-style: none;
        min-width: 100%;
      }
      
      nav a {
        display: block;
        background-color: lightgrey;
        border-radius: 4px;
        padding: 10px 6%;
        box-shadow: 5px 5px 5px rgb(37, 34, 34);
        border: solid rgb(0, 0, 0) .07em;
      }

      nav a:hover {
        box-shadow: 0 0px 20px #273D26 ;
      }

      .logo {
        width: 3em;  
        padding: 10px;
        margin: 15px;
        background-color: lightgrey;
        box-shadow: 5px 5px 5px rgb(37, 34, 34);
        border-radius: 50px;
      
      }

      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      .sticky
      .content {
        padding-top: 60px;
      }
}

/* HEADER DESKTOP */
@media only screen and (min-width: 768px) {

.main-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #008b8b;
  min-width: 100%;
}

.logo {
  width: 3em;  
  padding: 10px;
  margin: 15px;
  background-color: lightgrey;
  box-shadow: 5px 5px 5px rgb(37, 34, 34);
  border-radius: 50px;

}

#nav {
  background-color: #008b8b;
  padding-right: 15px;
}

#nav a {
  padding-right: 10px;
  background-color: #008b8b;
  padding: 15px;
}

.sticky {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: -1.5%;
}

.sticky
.content {
  padding-top: 60px;
}


}

/* ------------------------------------------------------------------- */


/* FOOTER MOBILE */

@media only screen and (max-width: 768px) {
    footer {
      background-color: darkcyan;
      min-width: 100%;
      margin-top: 15px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-content: center;
      }
      
      #nav-foot {
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
      }
    

      



      
}


/* FOOTER DESKTOP */