/* PHOTOS MOBILE */
@media only screen and (max-width: 768px) {

  #main-container img {
      justify-self: center;
      max-width: auto;
      margin: 0;
      border: 3px black solid;
      border-radius: 25px;
  }

  #main-container {
      display: grid;
      grid-gap: 15px;
      flex-direction: column;
      justify-content: center;
  }
}


/* PHOTOS DESKTOP */

@media only screen and (min-width: 768px) {


    #main-container {
        margin: 25px 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 50vw);
        grid-gap: 15px;
    }

    #main-container img {
        border: 3px black solid;
        border-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
