/* MOBILE */

/* MAIN */
.beautiful {
  max-width:100%;
  max-height: auto;
  align-self: center;
  margin-top: 15px;
  border-radius: 70px;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 1em;
}

.main-container p {
  font-size: 1.5em;
  margin-right: 15px;
  margin-left: 15px;
}

.container-two {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

#test-link {
  color: black;
  text-transform: capitalize;
  background-color:lightgrey;
  border-radius: 10px;
  padding:20px 30px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
}

h2{
  text-decoration: underline;
}

.quote {
  background-color: lightgrey;
  border-radius: 50px;
  margin-top: 0;
}