body {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: whitesmoke;
}


.main-container {
  display: flex;
}

.container-two {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

h2{
  text-decoration: underline;
}

/* FLEXBOX *
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
  min-height: auto;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
}

.nav {
  display: flex;
  justify-content: space-around;
}

.main-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.quote {
  display: flex;
  align-self: center;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.nav-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
}
*/



/* HEADER */
.main-header {
  background-color: #008b8b;
  padding-top: 20px;
  min-width: 100%
}

nav {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
  list-style: none;
  min-width: 100%;
}

nav a {
  background-color: lightgrey;
  border-radius: 4px;
  padding: 10px 6%;
  box-shadow: 5px 5px 5px rgb(37, 34, 34);
  border: solid rgb(0, 0, 0) .07em;
}

.nav a {
  display: block;
}
.logo {
  width: 3em;  
  padding: 15px;
  position: relative;
}

.main-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  
}

.nav {
  display: flex;
  justify-content: space-around;
}


/* MAIN */
.beautiful {
  max-width: 50%;
  max-height: 50%;
  border-right: 5px solid black;
}





/* FOOTER */
footer {
  background-color: darkcyan;
  padding-bottom: 15px;
  
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  min-width: 100%;
}

.nav-foot li {
  background-color: lightgrey;
  border-radius: 4px;
  padding: 10px 6%;
  box-shadow: 5px 5px 5px rgb(37, 34, 34);
  border: solid rgb(0, 0, 0) .07em;
}

.nav-foot a {
  display: block;
}

nav a:hover {
  box-shadow: 0 0px 20px #273D26 ;
}


footer {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.nav-foot {
  display: flex;
  flex-direction: row;
  justify-content: center;
}