/* MAIN */
.beautiful {
  max-width: 20%;
  max-height: 20%;
}


aside {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: center;
}



#testSubmit {
  padding: 10px 10px;
  background-color: grey;
  color: white;
}

label {
  text-align: center;
}

.button {
  color: black;
  text-transform: capitalize;
  background-color:lightgrey;
  border-radius: 10px;
  padding:20px 30px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.button:hover {
  box-shadow: 10px, 10px, 10px grey;
  
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#title {
  text-align: center;
  text-decoration: underline;
}